<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registration</title>
</head>
<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h2>Register to Chat One!</h2>
            <% if(message.info) { %> 
                <%= message.info %>
                <br><br>
            <% } %>
            <form action="/users/register", method="POST">
                <div>
                    <input type="text" name="firstname" id="firstname", placeholder="First name", required>
                    <input type="text" name="lastname" id="lastname", placeholder="Last name">
                </div>
                <br>
                <div>
                    <input type="email" name="email" id="email", placeholder="Email", required>
                    <input type="email" name="confirm_email" id="confirm_email", placeholder="Confirm Email", required>
                </div>
                <br>
                <div>
                    <input type="password" name="password" id="password", placeholder="Password", required>
                    <input type="password" name="confirm_password" id="confirm_password", placeholder="Confirm Password", required>
                    <button type="submit">Register</button>
                </div>
                </form>
            <br>
            Already registered? <a href="/users/login">Login</a>
        </div>
    </div>
</body>
</html>
